.featured .social{
    display: flex;
}

.featured .item{
    display:inline-block;
}

.featured .icon {
    width: 16px;
}

.featured .title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1,666em;
    letter-spacing: -1px;
    width: 540px;
}
